<!-- include header template -->
<%- include('partials/header') -%>

<h1>Welcome to Home</h1>
<img src="https://cdn.pixabay.com/photo/2019/07/25/17/09/camp-4363073_960_720.png" height="80%" alt="image">

<!-- include footer template -->
<%- include('partials/footer') -%>